@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?2cmwcz');
  src:  url('fonts/icomoon.eot?2cmwcz#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?2cmwcz') format('truetype'),
    url('fonts/icomoon.woff?2cmwcz') format('woff'),
    url('fonts/icomoon.svg?2cmwcz#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
  content: "\e90b";
}
.icon-youtube:before {
  content: "\e900";
}
.icon-stairs_116456:before {
  content: "\e90a";
}
.icon-soldering_iron_icon_137172:before {
  content: "\e907";
}
.icon-gate_icon_135557:before {
  content: "\e908";
}
.icon-whatsapp:before {
  content: "\e901";
}
.icon-facebook-square:before {
  content: "\e902";
}
.icon-menu:before {
  content: "\e90c";
}
.icon-arrow-up:before {
  content: "\e90d";
}
.icon-instagram:before {
  content: "\e903";
}
.icon-mail:before {
  content: "\e904";
}
.icon-map-pin:before {
  content: "\e905";
}
.icon-phone:before {
  content: "\e906";
}
.icon-stairs_icon_126784:before {
  content: "\e909";
}
